{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}
<div class="container">
   <div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
           <h3 class="text-center">{{category.cat_name|upper}}</h3>
          
         
    </div>
           <hr>
       </div>
   </div>
   <div class="row">
       <h1>Pitches</h1>
       <hr>
       {% if pitches %}
           {{macro.displayPitches(pitches)}}
       {% else%}
           <h3 class="text-center">This category has no pitches </h3>
       {% endif %}
   </div>
</div>
{% endblock %}